{% extends "layout.html" %}

{% block title %} Résultats des Quiz {% endblock %}

{% block scrpt %}
<style>
    .table-container {
        display: flex;
        justify-content: center;
    }
    .quiz-table {
        max-width: 75%; 
        width: 100%;
    }
</style>
{% endblock %}

{% block navLink %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Retour</a>
    </li>
{% endblock %}

{% block welcome %}
    {% if admin %}
        <span>Bienvenue <b>{{ admin }}</b></span>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h1 class="text-center">Résultats des Quiz pour : "{{ username }}"</h1>
        <hr>
        <div class="table-container">
            {% if quizzes %}
                <table class="table table-striped table-bordered mt-4 quiz-table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Numéro de Quiz</th>
                            <th scope="col">Type de Quiz</th>
                            <th scope="col">Score</th>
                            <th scope="col">Durée (secondes)</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for quiz in quizzes %}
                        <tr>
                            <td>{{ loop.index + (page - 1) * 5 }}</td>
                            <td>{{ quiz[0] }}</td>
                            <td>{{ quiz[1] }} / 20</td>
                            <td>{{ quiz[2] }} s</td>
                            <td>{{ quiz[3] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info text-center mt-4">
                    {% if admin %}
                        L'apprenant n'a pas encore passé de quiz !
                    {% else %}
                        Vous n'avez pas encore passé de quiz. Veuillez en passer un pour voir les résultats ici.
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for(request.endpoint, id=request.args.get('id'), page=page-1) }}">Précédent</a>
                    </li>
                {% endif %}
                
                {% for p in range(1, total_pages + 1) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for(request.endpoint, id=request.args.get('id'), page=p) }}">{{ p }}</a>
                    </li>
                {% endfor %}
                
                {% if page < total_pages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for(request.endpoint, id=request.args.get('id'), page=page+1) }}">Suivant</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>

    <div class="text-center mt-4">
        <form action="{{ url_for('voirProgression') }}" method="GET">
            <input type="hidden" name="username" id="username" value="{{ username }}">
            <button type="submit" class="btn btn-primary">Voir la progression</button>
        </form>     
    </div>
{% endblock %}
