nav .navbar-brand {
  font-size: xx-large;
}

nav .navbar-brand .blue {
  color: #537fbe;
}

nav .navbar-brand .red {
  color: #ea433b;
}

nav .navbar-brand .yellow {
  color: #f5b82e;
}

nav .navbar-brand .green {
  color: #2e944b;
}

header {
  background-color: #f8f9fa;
}

@media (max-width: 768px) {
  nav .navbar-brand {
      font-size: large;
  }
}

@media (max-width: 576px) {
  nav .navbar-brand {
      font-size: medium;
  }
}
