nav .navbar-brand {
  font-size: x-large;
}

header, footer {
  background-color: transparent;
  border: none; 
}

@media (max-width: 768px) {
  nav .navbar-brand {
      font-size: large;
  }
}

@media (max-width: 576px) {
  nav .navbar-brand {
      font-size: medium;
  }
}

body {
  background-image: url('/static/img/bg/bg_photo.webp');
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center; 
  font-weight: 700;
  font-size: medium;
}

footer .card-body {
  background-color: transparent;
  border-radius: 8px; 
}

main h1, main h2, main p, main label {
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
}
